---
import Layouts from "@/layouts/Layouts.astro";
import PostComponent from "@/components/PostComponent.astro";

import { Separator } from "@/components/ui/separator";

const allPosts = Object.values(import.meta.glob("@/pages/post/*.md", { eager: true }));
const pageTitle = "Posts";
---

<Layouts title={pageTitle}>
    <div class="w-full gap-4 bg-teal-50 px-6 py-2 dark:bg-zinc-950">
        <h1 class="font-dotted mt-8 text-[60px] leading-[68px]">Posts_</h1>
        <Separator />
        <p class="font-fira my-4 text-sm">Posting to the public about what I want to share:</p>
        <div class="flex w-full flex-1 flex-col gap-3">
            {
                allPosts.map((post: any) => (
                    <PostComponent
                        url={post.url}
                        title={post.frontmatter.title}
                        tags={post.frontmatter.tags}
                        pubDate={post.frontmatter.pubDate}
                    />
                ))
            }
        </div>
    </div>
</Layouts>
